<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185763355975-rfts59akafaad2o0i5764olbp0h136c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185763355975-rfts59akafaad2o0i5764olbp0h136c3</string>
	<key>API_KEY</key>
	<string>AIzaSyCfAZurTDSjMBh7d4JmgLtYHi-kEahoRc0</string>
	<key>GCM_SENDER_ID</key>
	<string>185763355975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartChange</string>
	<key>PROJECT_ID</key>
	<string>smartchange-2de49</string>
	<key>STORAGE_BUCKET</key>
	<string>smartchange-2de49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185763355975:ios:19e59cb9ae8b3275310062</string>
	<key>DATABASE_URL</key>
	<string>https://smartchange-2de49-default-rtdb.firebaseio.com</string>
</dict>
</plist>